@model Razor.Models.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name=" viewport" content="width=device - width" />
    <title>Index</title>
</head>
<body>
Edvin
</body>
</html>